@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

label.custom-size {
    font-family: 'Montserrat', sans-serif;
    color: #222222;
    font-size: 35px;
    line-height: 44px;
    font-weight: 400;
    margin-bottom: 20px;
}



.custom-size-option {
    padding: 10px;
    height: 46px;
    width: 350px;
}



select.custom-size-option option {
    color: #222222;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}



.search {
    display: flex;
    gap: 50px;
}



.show_product {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* gap: 20px; */
    justify-content: space-around;
}

.my_products .title {
    font-family: 'Montserrat', sans-serif;
    color: #222222;
    font-size: 35px;
    line-height: 44px;
    font-weight: 400;
    margin-bottom: 20px;
}



.my_single_product {
    flex: 0 0 calc(32% - 40px);
    padding-left: 10px;
    padding-right: 10px;


    display: flex;
    flex-direction: column; 
}

/* .my_single_product {
    display: flex;
    flex-direction: column; 
} */



.single_product_img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.single_product_img {
    display: flex;
    justify-content: center;
    align-items: center;
}


.single_product_img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.show_product h3 {
    font-size: 18px;
    margin-top: 5px;
}

.show_product p {
    font-size: 14px;
}


.show_product {
    display: flex;
    gap: 20px;
}



.single_product_details {
    padding: 5px;
    height: 230px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
}

p#customBatBtn {
    margin-top: auto; 
}

p#customBatBtn {
    margin-bottom: 0px !important;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .my_single_product {
        flex: 0 0 calc(50% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .my_single_product {
        flex: 0 0 100%;
    }
}